body {
    background-color: #EBEBEB;
}

.sidebar_nav {
    background-color: #120F25;
    height: 900px;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    float: left;
}

.sidebar_nav_title {
    font-family: Quantify;
    font-size: 38px;
    color: #EBEBEB;
    line-height: 0%;
    padding: 3px;
}

.sidebar_nav_link {
    font-family: Quantify;
    font-size: 20px;
    color: #b3b3b3;;
    text-decoration: none;
    line-height: 0%;
    padding: 5px;
}

#list {
    font-family: Quantify;
    font-size: 20px;
    color: #b3b3b3;;
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.75s linear;
  }
  
  a:focus+#list {
    max-height: 20em;
  }
  /* only select that link , here using the href attribute */
  a[href="nowhere"]:focus {
    pointer-events: none;
  }

h1 {
    font-family: Quantify;
    font-size: 38px;
    color: #120F25;
    line-height: 50%;
    padding: 3px;
}

.docs {
    display: inline-block;
    width: 79%;
}
.docs-data {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #120F25;
    line-height: 105%;
    padding: 5px;
}