html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Quantify';
    src: url('../documentation/Quantify.woff"') format('woff');
}

body {
    background-color: #EBEBEB;
}

/* Sidebar */
.sidebar_nav {
    box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 20px;
    transition: 0.8s linear;
    background-color: #120F25;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar_nav_title {
    font-family: Quantify;
    font-size: 38px;
    color: #EBEBEB;
    line-height: 0%;
    padding: 4px;
}

.sidebar_nav_link {
    font-family: Quantify;
    font-size: 20px;
    color: #b3b3b3;
    text-decoration: none;
    line-height: 0%;
    padding: 5px;
}

.sidebar_nav_link:focus {
    font-weight: 620;
}


#list {
    transition: 0.8s linear;
    font-family: Quantify;
    font-size: 20px;
    color: #b3b3b3;
    padding: 5px;
    max-height: 0;
    overflow: hidden;
}
  
a:focus+#list {
    max-height: 20em;
}

a[href="nowhere"]:focus {
    pointer-events: none;
}

/* Docs */
h1 {
    font-family: Quantify;
    font-size: 38px;
    color: #120F25;
    line-height: 50%;
    padding: 3px;
}

h2 {
    font-family: Quantify;
    font-size: 28px;
    color: #120F25;
    line-height: 50%;
    padding: 3px;
}

.docs {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    margin-left: 300px;
}

.docs-data {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 26px;
    color: #120F25;
    line-height: 105%;
    padding: 5px;
    margin: 5px;
}

/* Code Blocks */
.code-block {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
    background-color: #f8f8f8;
    transition: 0.8s linear;
    border-radius: 1.5rem;
    letter-spacing: 50%;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    line-height: 80%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.code-block:hover {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 20px;
    transition: 0.8s linear;
}

.cm {
    color: #bc4444;
}

.io {
    color: #5592a7;
}

.log {
    color: #51b572;
}

.msk {
    color: #e4e75b;
}

.com {
    color: #b3b3b3;
}

/* Mobile */
@media only screen and (max-width: 750px) {
    h1 {
        line-height: 80%;
    }

    .sidebar_nav {
        transition: 0.1s linear;
        display: none;
    }

    .docs {
        transition: 0.1s linear;
        left: 0%;
    }

    .code-block {
        padding-left: 8px;
        padding-right: 15px;

    }
}